@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    font-family: 'Josefin Sans';
    margin: 0;
    background: linear-gradient(to right, #320173, #8a00f4);
    width: 100%;
}
nav {
    position: fixed;
    /* border: 1px solid white; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3); 
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    z-index: 1000;
}
a{
    color: white;
    text-decoration: none;
    margin: 0 10px 0 0;
    font-size: 18px;
}
a:hover{
    color: white;
    text-decoration: underline;
    margin: 0 10px 0 0;
    font-size: 18px;
}
main {
    padding: 90px 0 90px 0;
    width: 100%;
}
.links {
    width: 100%;
    margin: 0 0 0 20px;
}
.nav-login {
    text-align: right;
}
.div-1{
    width: 60%;
    background-color: white;
    padding: 20px;
    margin: 2% auto 2% auto;
    border-radius: 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.div-2{
    width: 60%;
    background-color: white;
    padding: 20px;
    margin: 2% auto 2% auto;
    border-radius: 20px;
}
.img-1 {
    margin: 0 5% 0 0;
    float: left;
    max-width: 150px;
    max-height: 150px;
    align-items: center;
}
.text-1 {
    float: left;
    text-align: justify;
    vertical-align: middle;
}
.button, .tablink {
    font-family: 'Josefin Sans';
    font-size: 100%;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #320173, #8a00f4);
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
}
.input {
    height: 20px;
    border: 1px solid #a836ff;
    border-radius: 5px;
}
footer{
    width: 100%;
    padding: 0.5%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3); 
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.tempo {
    list-style-image: url(img/relogio1.png);
    vertical-align: center;
}
.login {
    border: 0;
    border-radius: 10px;
    margin: 100px auto 100px auto;
    width: 30%;
    background-color: white;
}
.img-login{
    text-align: center;
}
input[type='checkbox'] {
    accent-color: #320173;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
@media screen and (max-width:600px){
    .links{
        display: none;
    }
    .div-1{
        width: 60%;
        background-color: white;
        padding: 20px;
        margin: 2% auto 2% auto;
        border-radius: 20px;
        flex-direction: column;
    }
    .img-1 {
        margin: 0 auto;
    }
    .login {
        border: 0;
        border-radius: 10px;
        margin: 100px auto 100px auto;
        width: 60%;
        background-color: white;
    }
}